.cection-advantages {
  // background: var(--background-main-color);
}

.cection-advantages__list {
  // display: flex;
  // flex-wrap: wrap;
}

.cection-advantages__list .cection-advantages__item + .cection-advantages__item {
  margin-left: 30px;
}

.cection-advantages__list .cection-advantages__item {
  // width: 270px;
}

.cection-advantages__background {
  // width: 270px;
  // height: 120px;
  // background-color: var(--background-secondary-color);
  // border-radius: 4px;
  // margin-bottom: 30px;
  // padding: 25px 100px;
}

.cection-advantages__icon {
  // width: 70px;
  // height: 70px;
}

.cection-advantages__title {
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  // text-transform: uppercase;

  // color: #212121;
}

.cection-advantages__paragraph {
  // font-size: 14px;
  // line-height: 1.7;
  // letter-spacing: 0.03em;

  // color: var(--secondary-text-color);
}
