.customers__title {
    // font-weight: 700;
    // font-size: 36px;
    // line-height: 1.16;
    // text-align: center;
    // letter-spacing: 0.03em;
    // padding-bottom: 50px;
    // color: var(--primary-text-color);
  }

  .customers__content {
    // display: flex;
  }

  .customers__link{
    // transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // & :hover {fill: var(--accent-color); }
    // & :hover {border-color: var(--accent-color); }
  
  }

  .customers__link + .customers__link {
    // margin-left: 30px;
  }
  
  .customers__icon {
    // display: flex;
    // border: 1px solid#afb1b8;
    // border-radius: 4px;
    // width: 170px;
    // height: 92px;
    // justify-content: center;
    // align-items: center;
    // fill: #afb1b8;
    // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    // & :hover {fill: var(--accent-color); }
    // & :hover {border-color: var(--accent-color); }
  }
  
  
  