.network {
    // margin-left: 70px;
    // padding-top: 12px;
  }
  .futer-p {
    // margin-top: 0;
    // margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-main-color);
   
  }
  .li-futer {
    // box-sizing: border-box;
    // display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .li-futer + .li-futer {
    margin-left: 10px;
  }
  .icon-futer {
    display: flex;
    display: inline-flex;
    padding-top: 20px;
    // padding-bottom: 0;
    // margin: 0;
  }
  .svg-futer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50px;
  
    justify-content: center;
    align-items: center;
  
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--background-main-color);
  }
  .svg-futer:hover,
  .svg-futer:focus {
    background-color: var(--accent-color);
    fill: var(--background-main-color);
  }
.div-f{
  padding-top: 60px;
  @media  (min-width:768px) {
   margin-right: 165px;
    
  }
}
  .container-footer {
   text-align: center;
   @media  (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  @media  (min-width:1200px) {
    display: flex;
   
    
    
  }
   
    // padding-top: 60px;
    // padding-bottom: 60px;
  }
  .input-footer{
    @media  (min-width:1200px) {
      
      width: 352px;
     } 
 

  }
  .footer {
    
    margin-top: 60px;
    height: 603px;
    background: var(--hero-backgound);
    @media  (min-width:768px) {
     height: 463px;  
      
    } 
    @media  (min-width:1200px) {
      height: 252px;  
      
    }
  }
  .address-futer {
    margin-top: 20px;
  }
  .network {
    margin-top: 60px;
    @media  (min-width:768px) {
      margin-top: 65px;
     
      
      
    }
    // width: 206px;
    // height: 80px;
  }
  
  .icon-ul {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
  }
  .futer-h2 {
    color: var(--background-main-color);
  }
  
  .address {
    font-style: inherit;
  }
  .contacts-link:not(:last-child) {
    margin-bottom: 8px;
  }
  .address-k {
    // padding-bottom: 9px;
    font-weight: 400;
    
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--background-main-color);
    text-decoration: none;
  }
  .mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  .tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(255, 255, 255, 0.6);
    text-decoration-line: none;
  }
  .tel:hover,
  .tel:focus {
    color: var(--accent-color);
  }
  .mail:hover,
  .mail:focus {
    color: var(--accent-color);
  }
  .logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    margin-top: 60px;
    // font-size: 26px;
    // line-height: 31px;
    color: var(--background-main-color);
    text-decoration-line: none;
  }
  .logo-web {
    color: var(--accent-color);
  }
  .futer-form {
    position: relative;
    margin-top: 60px;
    // margin-left: 93px;
    // margin-top: 12px;
    color: var(--background-main-color);
    
  
  }
  
  .futer-form input {
    padding-left: 12px;
    color: var(--background-main-color);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    width: 358px;
  
  height: 50px;
  background-color: var(--hero-backgound);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  }
  .futer-form input:hover,
  .futer-form input:focus-visible{
    border-color: var(--accent-color)
  }
  
  
  .p-form{
    
    padding-bottom: 20px;
    font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-main-color);

  }
  .button-futer{
    display: inline-flex;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding: 10px 28px;
  margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
  
    justify-content: center;
    align-items: center;
  
    border: 2px solid var(--accent-color);
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--background-main-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
    
  
  .button-futer:hover{
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .icon-plane{
    margin-left: 10px;
     fill: var(--background-main-color)
  }