

.header {
display: flex;

 height: 60px;
 background-color: var(--background-main-color);
 border-bottom: 1px solid#ECECEC;
 @media  (min-width:768px) {
  height: 80px;
  
  
}
    // // position: fixed;
    // width: 100%;
    // top: 0%;
    // left: 0%;
    
    // z-index: 1;
  }
  .header__menu{
  

  
  // margin-left: auto;
  // padding-top: 10px;
  background-color: var(--background-main-color);
  border: none;

  @media  (min-width:768px) {
    display: none;
  }
  }
  .menu-button .icon__close{
    display: none;
  }
  .menu-button .is-open  .icon__close {
    display: block;
  }
  .menu-button .is-open .icon-menu{
    display: none;
  }
  .bloc-header{
    margin-left: 88px;
  }
 


  .current::after{
    content:"" ;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    
    background-color:var(--accent-color);
    border-radius: 2px;
     
  }
  .li-current{
    position: relative;
    padding-bottom: 28px;
    padding-top: 32px;
    bottom: -1px;
    
    
  }
  .nav {
 display: flex;
 align-items: center;
 

    
    
  }
  .ul-none .link.current {
    color: var(--accent-color);
  }
  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .header-mail {
    margin-top: 10px;
    @media screen and (min-width:1200px) {
      margin-top: 0px;
      margin-left: 30px;
      
      
    }
    
    
  }
  .siti-nav {
    display: flex;
    
    
    // margin-left: 88px;
    
  }
  .siti-links {
    
    display: block;

      @media screen and (min-width:1200px) {
      display: flex;

      
      
    }
    
    
    // margin-left: 96px;
  
    // margin-left: auto;
  }
  .siti-nav .item + .item {
    margin-left: 50px;
  }
  .siti-links .item + .item {
    
    // margin-left: 50px;
  }
  
 
  .icon-mail {
    fill: var(--secondary-text-color);
  }
  .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration-line: none;
   
  }
  .icon-envelope,
  .icon-tell {
    margin-right: 10px;
    cursor: pointer;

  }
  .icon-tell{
    @media screen and  (min-width:767px) {
    width: 10px;
    height: 14px;   
    }
  }
  .icon-envelop{
    @media screen and (min-width:767px) {
      width: 14px;
    height: 10px;   
      }
    
  }
  
  .links {
    align-items: center;
    display: inline-flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;
    color: var(--secondary-text-color);
    @media screen and (min-width:1200px) {
      font-size: 14px;
      line-height: 14px;
      
    }
    
  }
  
  .link:hover,
  .link:focus {
    color: var(--accent-color);
  }
  .links:hover,
  .links:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .icon-smartphone:hover,
  .icon-smartphone:focus {
    color: var(--accent-color);
  }

  .logo-web{
    color: #2196F3
  }

  .logo-heder { 
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-decoration-line: none;
    margin-right: 88px;
    font-family: 'Raleway';
    font-style: normal;
    width: 134px;
    height: 28px;
    font-weight: 700;
   font-size: 24px;
   line-height: 1.16;
    color: var( --primary-text-color);
    
  text-decoration: none;

@media screen and ( min-width: 767px)  {
   
}
@media  (min-width:1200px) {
  margin-left: 93px;
  
}
      
  }

 
.siti-links , .siti-nav {

  @media screen and ( max-width: 767px)  {
    display: none;
    
  }
  


}



