.modal{
  position: absolute;
  width: 528px;
height: 581px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: #FFFFFF;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.form-title{
 font-weight: 700;
font-size: 20px;
margin-bottom: 12px;

text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color)
}
.form-field{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: initial;
}
.form-field >input { 
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field > label {

  font-size: 12px;
line-height: 14px;
color: var(--secondary-text-color);
padding-bottom: 4px;
}

.form-field:focus-within > .icon-input,
.form-field:hover > .icon-input {
  fill: #2196f3;
}
.button-off:hover{
  fill: var(--accent-color);
}
.form-field input:focus-within,
.form-field textarea:focus-within,
.form-field input:hover,
.form-field textarea:hover
 {
  border-color: var(--accent-color);

}

.extarea{
  width: 448px;
  height: 120px;
  resize: none;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-left: 16px;
padding-top: 12px;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-link {
  margin-left: 5px;
  color: var(--accent-color);
}
.checkbox-icon {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 4px;
  transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/fullikon.svg);
  background-size: contain;
  background-origin: border-box;
}

.button-form{
  width: 200px;
height: 50px;
font-weight: 700;
font-size: 16px;
line-height: 30px;
background-color: var(--accent-color);
color: var(--background-main-color);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), backgrond 250ms cubic-bezier(0.4, 0, 0.2, 1);
border-radius: 4px;
border: 0;
cursor: pointer;
margin-top: 20px;
margin-inline: auto;
}
.button-form:hover{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #188CE8;
}

.form-field >textarea{
  color: var(--text-color);
}

input ,textarea{
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-input{
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.input-class{
  position: relative;
  width: 500px;
  height: 40px;
  padding: 12px 15px;
  padding-left: 42px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #21212133;
  outline: none;
    
    
}