.div-tex{
    position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0%;
  
  }
  .pfoto-practice{
    position: relative;
  }
  .tex-pfoto{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;
    
  }
  .practice {
    text-align: center;
    margin-bottom: 50px;
  }
  .section-practice {
    @media  (max-width:1200px) {
      display: none;
    }
    
    padding-top: 0%;
  }
  .ul-practice {
    display: flex;
  }
  .ul-practice .pfoto-practice + .pfoto-practice {
    margin-left: 30px;
  }
  
  .practice {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }